#books__container {
    position: relative;
}

#books__container #front__side {
    width: 80%;
    height: 860px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#books__container #front__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#books__container #front__side > div {
    width: 60%;
}

#books__container #front__side > div h1 {
    line-height: 1.5;
    text-align: center;
}


#backgroundImage {
    position: absolute;
    z-index: -1;
    width: 100%;
}

#backgroundImage img {
    width: 100%;
    height: 860px;
    object-fit: cover;
    filter: brightness(0.5);
}